body{
    background-color: black;
    color: whitesmoke;
    width: 100%;
    height: 400px;
    text-align: center;
    background-image: url('./image/background-1.png');
    background-repeat: no-repeat;
    background-position:center;
}

.mainPage {
    height: auto;
    width: 100%;
}

.title {
    padding: 10px 0px;
    text-align: center;
}

.main {
    grid-area: 2/3/6/7;
    width: 100%;
    height: 100%;
    display: grid;
    font-size: 15px; 
    text-align: center;
}

.about, .skill, .work, .contact {
    height: 100%;
    width: 100%;
    color: whitesmoke;
}

i {
    margin-right: -5px;
    color: transparent;
}

.about:hover > p, .skill:hover > p,
.work:hover > p, .contact:hover >p {
    color: #ea2c62;
}

.about:hover > p > i, .skill:hover > p > i,
.work:hover > p > i, .contact:hover > p > i {
    color: red;
    font-size: 15px;
    /* animation: blink 1s steps(2, end) infinite; */
    font-size: 20px;
}

/* TEXT GRADIENT  */
.title > h3 {
    /* background-image: linear-gradient(#f14668,#ffd880,#6b011f,#290149); */
    background: -webkit-linear-gradient(#ea2c62,#ff9a8c,#fad5ad,#adb36e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 72px;
}

.title > p {
    font-size: 25px;
    color: #ea2c62;
    letter-spacing: 5px;
    /* margin-top:-20px; */
}

/* ----------ABOUT---------- */
.aboutPage {
    display: none;
}

.aboutTab {
    display: grid;
    grid-template: 1fr 1fr/1fr 1.5fr 1fr ;
    color: white;
    font-family: "Press Start 2P";
}
  
.aboutTab > p {
    grid-area: 1/2/3/3;
    font-size: 14px;
    line-height: 125%;
    padding-top: 20%;
}
  
.aboutTab > img {
    grid-area: 1/1/3/2;
    width: 200px;
    height: 200px;
}

.aboutTab > #close {
    grid-area: 1/3/2/4;
    justify-self: end;
    font-family: "Press Start 2P";
    color: red;
    animation: blink 1s steps(2, end) infinite;
    font-size: 40px;
    margin-right: 15px;
}
  
  
#adam2 {
    animation: wind 0.5s cubic-bezier(1,0.5,0.5,1) infinite;
}

/* ----------SKILL---------- */
.skillPage {
    height: 100%;
    width: 100%;
    display: none;
}

.skillTab {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr ;
    color: white;
    font-family: "Press Start 2P";
}

.skillWords {
    grid-area: 1/1/4/2;
    font-family: "Press Start 2P";
    color: white;
    height: 100%;
    width: 100%;
    padding: 10%;
}

.skillWords > p {
    line-height: 130%;
    text-align: center;
}

.languages > img {
    width: 100px;
    height: 120px;
}
  
.skillTab > .close {
    grid-area: 1/3/2/4;
    justify-self: end;
    font-family: "Press Start 2P";
    color: red;
    animation: blink 1s steps(2, end) infinite;
    font-size: 40px;
    margin-right: 15px;
}

.languages {
    height: 100%;
    width: 80%;
    grid-area: 1/2/4/4;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
    justify-self: center;
    padding: 5%;
}
  
#html {
    grid-area: 1/1;
}

#css {
    grid-area: 1/2;
}

#javascript {
    grid-area: 1/3;
}

#bootstrap {
    grid-area: 2/1;
}
  
#react {
    grid-area: 3/2;
}

/* ----------WORK---------- */
.workPage {
    display:none;
    height: 100%;
    width: 100%;
    font-family: "Press Start 2P";
}
  
.workTab {
    padding-top: 20px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 10% 1fr 1fr 1fr 10px /20% 1fr 1fr 1fr 20%;
}
  
.workTab > h1 {
    grid-area: 1/2/2/5;
    justify-self: center;
    align-self: start;
    font-family: "Press Start 2P";
    color: red;
    white-space: nowrap;
}
  
.workTab > div {
    height:60%;
    width: 70%;
    border: solid white 3px;
    background-color: black;
    font-size: 10px;
    color: white;
    text-align: center;
}
  
.workTab > div:hover {
    transform: scale(1.5);
}
  
.workTab > div > a {
    height: 90%;
    width: 90%;
    color: white;
    font-size: 15px;
}
  
.workTab > div > a > img {
    height: 95%;
    width: 95%;
}

.workTab > div > p {
    padding-top: 10px;
}
  
.first {
    grid-area:2/2/3/3;
    justify-self: center;
}
  
  /* .second {
    grid-area:2/3/3/4;
    justify-self: center;
}
  
.third {
    grid-area:2/4/3/5; 
    justify-self: center;
}
  
.fourth {
    grid-area:3/2/4/3;
    justify-self: center;
}
  
.fifth {
    grid-area:3/3/4/4; 
    justify-self: center;
}
  
.sixth {
    grid-area:3/4/4/5;
    justify-self: center;
}
  
.seventh {
    grid-area:4/2/5/3; 
    justify-self: center;
}
  
.eighth {
    grid-area:4/3/5/4; 
    justify-self: center;
}
  
.ninth {
    grid-area:4/4/5/5;
    justify-self: center;
} */
  
.closer {
    grid-area: 1/5/2/6;
    justify-self: end;
    margin-right: 20px;
    font-size: 40px;
    color: red;
    animation: blink 1s steps(2, end) infinite;
}
  
.closer:hover {
    cursor: pointer;
}

/* ----------CONTACT---------- */
.contactPage {
    display: none;
    height: 100%;
    width: 100%;
    font-family: "Press Start 2P";
}
  
.contactTab {
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
}
  
.words {
    grid-area: 2/1/3/4;
    height: 100%;
    width: 50%;
    color: white;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    justify-self: center;
}
  
.social {
    grid-area: 1/1/2/4;
    display: grid;
    grid-template: 100%/ 1fr 1fr 1fr 1fr 1fr;
    height: 90%;
    width: 85%;
    padding-top: 20px;
}
  
.social > div {
    height: 60%;
    width: 60%;
    justify-self: center;
}

.social > div > a > img {
    height: 100%;
    width: 100%;
}
  
.facebook {
    grid-area: 1/3/2/4;
}
  
.github {
    grid-area: 1/4/2/5;
}
  
/* .codepen {
    grid-area: 1/3/2/4;
}
  
.twitter {
    grid-area: 1/5/2/6;
}
  
.linkedin {
    grid-area: 1/4/2/5;
} */
  
.closing {
    grid-area: 1/4/2/5;
    font-size: 40px;
    color: red;
    animation: blink 1s steps(2, end) infinite;
    margin-right: 25px;
}
  
.resume {
    grid-area: 3/1/4/4;
    justify-self: center;
    height: 60%;
    width: 15%;
    color: white;
}
  
.resume:hover {
    cursor: pointer;
}
  
.resume > a > img {
    height: 90px;
    width: 60px;
}
  
  
.closing:hover {
    cursor: pointer;
}

/* FOOTER  */
.heart {
    height:30px;
    width: 30px;
}

.footer {
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.footer p a {
    text-decoration: none;
    color:#ea2c62;
}

.footer p a:hover {
    color: red;
}

/* BLINK EFFECT */
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.title > h3 {
    -webkit-animation: blink 3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 3s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 3s;
    -o-animation-iteration-count: infinite;
}

/* RESPONSIVE */
@media screen and (max-width: 750px) {
    .titleBox > img {
        width: 400px;
    }
    
    .titleBox > p {
        font-size: 17.5px;
    }
    
    .selectors {
        font-size: 16px;
    }
    
    .aboutTab {
        grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
    }
    
        .aboutTab > img {
        height: 150px;
        width: 150px;
        grid-area: 1/2/2/3;
    }
    
    .aboutTab > p {
        grid-area: 2/1/4/4;
        align-self: start;
        font-size: 13px;
        margin-right: 10px;
        line-height: 125%;
    }
    
    .skillWords {
        font-size: 12px;
        grid-area: 1/1/2/4;
        line-height: 125%;
    }
    
    .languages {
        grid-area: 2/1/4/4;
        width: 80%;
        height: 80%;
        justify-self: center;
    }
    
    .social {
        width: 100%;
    }
    
    .social > div {
        height: 60px;
        width: 60px;
        align-self: end;
    }
    
  }
  
  @media screen and (max-width: 500px) {
    
    .titleBox > img {
        width: 300px;
    }
    
    .titleBox > p {
        font-size: 13px;
    }
    
    .selectors {
        font-size: 16px;
        grid-area: 2/1/5/7;
    }
    
    .aboutTab > p {
        font-size: 12px;
    }
    
    .skillPage {
        font-size: 10px;
    }
    
    .skillTab > img {
        width: 60%;
        height: 60%;
    }
    
    .languages {
        grid-area: 1/1/2/4;
        grid-template: 1fr 1fr/ 1fr 1fr 1fr 1fr;
        height: 130px;
    }
    
    .languages > img {
        height: 60px;
    }
    
    /* #react {
        grid-area: 2/4
    } */
    
    .skillWords {
        grid-area: 2/1/3/4;
        font-size: 9px;
    }
    
    .workTab {
        grid-template: 10% 1fr 1fr 1fr/ 1fr 1fr 1fr;
    }
    
    .workTab > div {
        height: 100px;
        width: 100px;
        margin-left: 10px;
    }
    
    .closing {
        grid-area: 1/3/2/4;
    }
    
    .workTab > h1 {
        grid-area: 1/1/2/4;
        font-size: 13px;
    }
    
    .first {
        grid-area: 2/1/3/2;
    }
    
    /* .second {
      grid-area: 2/2/3/3;
    }
    
    .third {
      grid-area: 2/3/3/4;
    }
    
    .fourth {
      grid-area: 3/1/4/2;
    }
    
    .fifth {
      grid-area: 3/2/4/3;
    }
    
    .sixth {
      grid-area: 3/3/4/4;
    }
    
    .seventh {
      grid-area: 4/1/5/2;
    }
    
    .eighth {
      grid-area: 4/2/5/3;
    }
    
    .ninth {
      grid-area: 4/3/5/4;
    } */
    
    .social {
        height: 50%;
        align-self: center;
    }
    
}
  
@media screen and (max-width: 375px) {
    .selectors {
        grid-area: 2/2/3/3;
        margin-top: 50px;
    }
    
    .aboutTab > img {
    }
    
    .aboutTab > p {
        font-size: 11px;
    }
    
    
    .projectPage {
        height: 100%;
        width: 100%;
    }
    
    .projectTab > div {
        height: 75px;
        width: 75px;
        font-size: 9px;
        border: solid white 2px;
    }

    .projectTab > div > a > img {
        border: solid blue 1px;
    }
}

